# All folders starting with _ are local.
_*/

# Compiled python files.
*.py[cod]

# Visual Studio files.
/.vs
**/.vscode/ipch

# macOS files.
.DS_Store

# Generated license file.
PACKAGE-DEPS.yaml

.nvidia-omniverse

# Internal CI/CD files.
/.teamcity
/tools/ci
.lastformat

# nvcode
/.nvcode
.nvcode.json

# Accidental USD created at the mjcf data folder

source/extensions/isaacsim.asset.importer.mjcf/data/mjcf/**/*.usd